<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>关于我们</title>
  <link rel="stylesheet" type="text/css" href="css/hui.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="css/animate.min.css" />
</head>

<body class="page-about">
  <header class="hui-header">
    <div id="hui-back"></div>
    <h1>关于我们</h1>
    <div class="hui-header-icon"></div>
  </header>
  <div class="hui-wrap">
    <div class="page-title wow fadeInDown" data-wow-duration=".5s" data-wow-delay="0s"> <i class="cufont cufont-logo"></i>
    </div>
    <div class="hui-content">
      <h2>关于包赚钱</h2>
      <p>金融的本质是价值流通。金融产品的种类有很多，其中主要包括银行、证券、保险、信托等。金融所涉及的学术领域很广，其中主要包括：会计、财务、投资学、银行学、证券学、保险学、信托学等等。
        金融是一种交易活动，金融交易本身并未创造价值，那为什么在金融交易中就有赚钱的呢？按照陈志武先生的说法，金融交易是一种将未来收入变现的方式，也就是明天的钱今天来花。
        简单地说金融交易的频繁程度就是反映一个地区、区域、乃至国家经济繁荣能力的重要指标。
        传统金融的概念是研究货币资金的流通的学科。而现代的金融本质就是经营活动的资本化过程。
        西方定义，《新帕尔·格雷夫经济学大字典》，指资本市场的运营，资产的供给与定价。其基本内容包括有效率的市场，风险与收益，替代与套利，期权定价和公司金融。
        黄金曾一度成为国际贸易中唯一的媒介。在易货经济时代，商人只能进行对口的交易，以物易物。因此，人类的经济活动受到巨大制约。在金本位经济时代，价值与财富是以实物资产——黄金为依据和标准，这种客观的物理方法非常有利于全球经济的平稳发展。
        然而，作为价值流通的载体，黄金不利的一面如搬运、携带、转换等不便的物理条件限制，使它又让位于更为灵活的纸币（货币）。</p>
      <div class="copyright">software inc. | 2018&copy;</div>
    </div>
  </div>
</body>

</html>