<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>常见问题</title>
	<link rel="stylesheet" type="text/css" href="css/hui.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/animate.min.css" />
</head>

<body class="page-about">
	<header class="hui-header">
		<div id="hui-back"></div>
		<h1>常见问题</h1>
		<div class="hui-header-icon"></div>
	</header>
	<div class="hui-wrap">
		<div class="page-title wow fadeInDown" data-wow-duration=".5s" data-wow-delay="0s"><i class="cufont cufont-faq"></i></div>
		<div class="hui-content">
			<h2>包赚钱常见问题</h2>
			<dl class="list-faq">
				<dt>常见问题01</dt>
				<dd>
					<p>常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答</p>
					<p>常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答</p>
				</dd>
				<dt>常见问题02</dt>
				<dd>
					<p>常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答</p>
					<p>常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答</p>
				</dd>
				<dt>常见问题03</dt>
				<dd>
					<p>常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答</p>
					<p>常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答</p>
				</dd>
				<dt>常见问题04</dt>
				<dd>
					<p>常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答</p>
					<p>常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答</p>
				</dd>
				<dt>常见问题05</dt>
				<dd>
					<p>常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答</p>
					<p>常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答</p>
				</dd>
				<dt>常见问题06</dt>
				<dd>
					<p>常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答</p>
					<p>常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答常见问题回答</p>
				</dd>
			</dl>
		</div>
	</div>

</body>

</html>