<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>服务协议</title>
  <link rel="stylesheet" type="text/css" href="css/hui.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="css/animate.min.css" />
</head>

<body class="page-about">
  <header class="hui-header">
    <div id="hui-back"></div>
    <h1>服务协议</h1>
    <div class="hui-header-icon"></div>
  </header>
  <div class="hui-wrap">
    <div class="page-title wow fadeInDown" data-wow-duration=".5s" data-wow-delay="0s"> <i class="cufont cufont-agreement"></i>
    </div>
    <div class="hui-content">
      <h2>包赚钱服务协议</h2>
      <h4>请您务必审慎阅读、充分理解协议中相关条款内容，特别是粗体标注的内容。您一旦注册包赚钱，即视为您已了解并完全同意本协议各项内容，包括包赚钱对服务协议随时所做的任何修改。如您不同意本协议及/或随时对其的修改，请您立即停止注册及使用包赚钱所提供的全部服务。</h4>
      1、接受条款<br>
      1.1
      包赚钱网的运营者及相关关联公司（以下简称“包赚钱”）根据本服务协议的条款及不时发布的规则为您提供基于包赚钱网（包括包赚钱pc端、包赚钱及包赚钱相关客户端、移动网页端等）的互联网服务。本协议的条款可由包赚钱随时修改，修改后的服务协议在网站上一经公布即有效代替原来的服务协议。您一旦在包赚钱网注册，即成为包赚钱用户（以下简称“用户”或“您”），并受本协议的约束。<br>
      1.2 当您使用包赚钱网单项服务时，您和包赚钱应遵守包赚钱随时公布的与该服务相关的指引和规则。前述所有的指引和规则，均构成本服务协议的一部分。<br>
      1.3 您应遵守本协议的各项条款，合法合理使用包赚钱提供的服务，否则，包赚钱有权依据本协议中断或终止为您提供服务。同时，包赚钱保留在任何时候收回您所使用的账号的权利。<br>
      <br>
      2、服务说明<br>
      2.1
      包赚钱向用户提供包括但不限于如下服务：发布并分享对图书、电影、音乐等的评论；收藏图书、电影、音乐；在包赚钱中发布话题、日记、上传图片、视频等；在同城中发布或参加各类活动；电子商务服务；付费内容服务等。除非本协议另有其它明示规定，包赚钱增加或强化目前本服务的任何新功能，包括所推出的新产品，均受本服务协议之规范。
    </div>
  </div>
</body>

</html>